<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front-end Quiz</title>

    <!-- <meta http-equiv="refresh" content="15"> -->


    <link href="https://unpkg.com/daisyui@latest/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>
    <script defer>
        var USERNAME = "";
var USERTIME = "";
var USER_CURR_QUESTION = 1; //starts at first question
var USER_TOTAL_QUESTIONS = 9; 
var USER_NUM_RIGHT = 0;
var CURRENT_QUESTION = [];
var QUESTIONS = [
];

var question_object = {
    questionTitle: "",
    correctResponse: "",
    userGivenResponse: "",
    isResponseCorrect: false
};

var QUIZ_NAME = "";


// beginQuiz() is triggered based on button click 
// on "BEGIN QUIZ", used HTML attribute onclick

function beginQuiz(){
    var beginQuizBtn = document.querySelector("button#beginQuizBtn");
    var userNameInput = document.querySelector("input#userNameInput");
    var userNameLabel = document.querySelector("span#userNameLabel");

    USERNAME = userNameInput.value;

    if (USERNAME.length > 1) {
        userNameLabel.innerHTML = "Quiz will begin promptly.";

        // changing navigation bar text to quiz name
        QUIZ_NAME = document.querySelector("#selectQuiz").value;
        document.querySelector("#quizName").innerText = QUIZ_NAME;

        // removing the name input container
        document.querySelector("div#introContainer").remove();

        


        renderQuestion();

    } else {
        userNameLabel.innerHTML = "Your name must be at least one character.";
    }

    return false;
}






async function getRandomQuestion(){
    //questionType is either frontend or backend

    let mainURL = "http://localhost:3000/";

    if (QUIZ_NAME == "Front-end Quiz"){
       mainURL += "frontendquestions/random/";
    }

    if (QUIZ_NAME == "Back-end Quiz" ){
        mainURL += "backendquestions/random/";
    }

    const response = await fetch(
        mainURL,
        {
            method: 'GET'
        }
    );
    const data = await response.json();

    return data;
}




//https://vahid.blog/post/2021-03-19-how-to-use-handlebars.js-for-templating/
async function renderQuestion(){

    
    //var question = ALL_questions[Math.floor(Math.random()*ALL_questions.length)];
    var question = await getRandomQuestion();
    
    
    CURRENT_QUESTION = question;

    let htemplate = document.querySelector("#htemplate").innerHTML;
    let htemplate_function = Handlebars.compile(htemplate);
    let htemplate_object = {
        name: USERNAME,
        currentQuestionsCount: USER_CURR_QUESTION,
        totalQuestionsCount: USER_TOTAL_QUESTIONS, 

        questionTitle: question.questionTitle,

        isMultipleChoice: question.isMultipleChoice,
        multipleChoiceOptions: question.multipleChoiceOptions,
        correctMultipleChoiceOption: question.correctMultipleChoiceOption,

        isMultipleImageChoice: question.isMultipleImageChoice,
        multipleImageChoiceURLOptions: question.multipleImageChoiceURLOptions,

        correctMultipleImageChoiceURLOption: question.correctMultipleImageChoiceURLOption,

        isShortResponse: question.isShortResponse,
        correctShortResponseAnswer: question.correctShortResponseAnswer,

        category: "Technical blog",
        link: "https://vahid.blog",
        miscellaneous:
          "This part here can incorporate HTML tags like <strong>strong</strong> and <em>em</em> because the template displays it using triple curlies.",
      };
      
      let new_htemplate = htemplate_function(htemplate_object);

      document.querySelector("#outputRender").innerHTML = new_htemplate;


    // var data = {
    //     title: "Question T",
    //     uname: USERNAME
    // };

    // var handlebarsScript = document.querySelector("#handlebarsTemplate").innerHTML;
    // var template = Handlebars.compile(handlebarsScript);
    // var filled = template(data);

    // var handlebarsDivContainer = document.querySelector("#handlebarsDivContainer");
    // handlebarsDivContainer.innerHTML = filled;
}


function submitQuestion(){
    

    console.log(CURRENT_QUESTION);
    //add to the list for final results
    question_object.questionTitle = CURRENT_QUESTION.questionTitle;
    question_object.correctResponse =  getAnswerFromQuestion(CURRENT_QUESTION);
    question_object.userGivenResponse = getUserGivenAnswer(CURRENT_QUESTION);

    //boolean variable
    var isAnswerCorrect = (question_object.correctResponse == question_object.userGivenResponse);
    console.log("Correct Response: " + question_object.correctResponse);
    console.log("Given Response: " + question_object.userGivenResponse);
    console.log("isAnswerCorrect: " + isAnswerCorrect);
    question_object.isResponseCorrect = isAnswerCorrect;

    QUESTIONS.push({...question_object});

    console.log(QUESTIONS);

    if (isAnswerCorrect) {
        renderQuestionResult(true);
        USER_NUM_RIGHT += 1;
    } else {
        renderQuestionResult(false);
    }
}


// either returns true or false
function checkAnswer(){
    if (USER_CURR_QUESTION % 2 == 0) {
        return false;
    } else {
        return true;
    }
}


function getAnswerFromQuestion(question) {
    var answer = "";
    if (question.isMultipleChoice) {
        answer = question.correctMultipleChoiceOption;
    }

    if (question.isMultipleImageChoice){
        answer = question.correctMultipleImageChoiceURLOption;
    }

    if (question.isShortResponse) {
        answer = question.correctShortResponseAnswer;
    }

    return answer;
}


function getUserGivenAnswer(question_asked){
    var answer = "";
    if (question_asked.isMultipleChoice) {
        var options = document.querySelectorAll(".form-control > label");

        for (var i = 0; i < options.length; i++){
            if (options[i].querySelector("input").checked) {
                answer = options[i].querySelector("span").innerText;

                console.log(answer);
            }
        }
    }

    if (question_asked.isMultipleImageChoice){
        var options = document.querySelectorAll(".form-control > label");

        for (var i = 0; i < options.length; i++){
            if (options[i].querySelector("input").checked) {
                answer = options[i].querySelector("img").src;

                console.log(answer);
            }
        }
    }

    if (question_asked.isShortResponse) {
        var input_element = document.querySelector("#userGivenShortResponse");

        answer = input_element.value;

        console.log(answer);
    }

    return answer;
}













function nextQuestion(){
    //removes content from div#questionResultRender
    document.querySelector("div#questionResultRender").innerHTML = "";

    if (USER_CURR_QUESTION < USER_TOTAL_QUESTIONS + 1) {
        USER_CURR_QUESTION += 1;
        renderQuestion();
    }

    if (USER_CURR_QUESTION == USER_TOTAL_QUESTIONS + 1) {
        renderFinalResult();
    }

    
}



function renderQuestionResult(isAnswerCorrect){
    let correct_answer_praises = [
        "Good, you've got it right.",
        "That’s right, you are doing good today.",
        "Sensational! You are correct.",
        "Right on! You must have been practicing.",
        "Exactly right. You’ve got your brain in gear."
    ];

    let incorrect_answer_praises = [
        "Wrong answer. Better luck next time.",
        "Incorrect.",
        "Nice try, but that was the wrong answer.",
        "Not exactly.",
        "Incorrect, but good guess."
    ];

    let praise = function(){
        if (isAnswerCorrect){
            return correct_answer_praises[Math.floor(Math.random()*correct_answer_praises.length)];
        } else {
            return incorrect_answer_praises[Math.floor(Math.random()*incorrect_answer_praises.length)]
        }
    }

    let htemplate = document.querySelector("#resultTemplate").innerHTML;
    let htemplate_function = Handlebars.compile(htemplate);
    let htemplate_object = {
        isAnswerCorrect: isAnswerCorrect,
        praise: praise
      };
      
      let new_htemplate = htemplate_function(htemplate_object);

      document.querySelector("#questionResultRender").innerHTML = new_htemplate;
}

function renderFinalResult(){
    //removing output render
    document.querySelector("#outputRender").remove();

    let htemplate = document.querySelector("#finalResultTemplate").innerHTML;
    let htemplate_function = Handlebars.compile(htemplate);
    let htemplate_object = {
        name: USERNAME,
        currQuestionsCount: USER_CURR_QUESTION,
        correctQuestionsCount: USER_NUM_RIGHT,
        totalQuestionsCount: USER_TOTAL_QUESTIONS, 
        data: QUESTIONS,
        category: "Technical blog",
        link: "https://vahid.blog",
        miscellaneous:
          "This part here can incorporate HTML tags like <strong>strong</strong> and <em>em</em> because the template displays it using triple curlies.",
      };
      
      let new_htemplate = htemplate_function(htemplate_object);

      document.querySelector("#finalResultRender").innerHTML = new_htemplate;
}



    </script>

</head>
<body>
    <div class="container mx-auto">

        <!--NAVIGATION-->
        <div class="navbar bg-base-200 mb-5 shadow-xl rounded-box">
            <div class="navbar-start">
                <a href="https://ahsem.nyc/" class="btn btn-ghost normal-case text-xl">ahsem.nyc</a>
            </div>

            <div class="navbar-end">
                <a id="quizName" href="../views/index.html" class="btn btn-ghost normal-case text-xl">CS Quiz</a>
            </div>
        </div>

        <div id="introContainer" class="hero mb-5 bg-base-200 shadow-xl rounded-box">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-4xl font-bold">How much do you know about web development?</h1>
                    <p class="py-6">Take this 9 question quiz to find out! First, tell us your name and the type of quiz you want to take.</p>

                    <div class="card mx-auto mb-5 flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                        <form class="card-body">
                            <div class="form-control">
                                <label class="label">
                                    <span id="userNameLabel" class="label-text">Name</span>
                                </label>
                                <input id="userNameInput" type="text" placeholder="Ahsem" class="input input-bordered" required />
                                
                            </div>

                            <div class="form-control">
                                <select id="selectQuiz" class="select select-primary w-full max-w-xs">
                                    <option selected>Front-end Quiz</option>
                                    <option>Back-end Quiz</option>
                                  </select>
                            </div>

                            <div class="form-control mt-6">
                                <button id="beginQuizBtn" onclick="return beginQuiz();" class="btn btn-primary">BEGIN QUIZ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
          


        
        <script id="htemplate" type="text/x-handlebars">
            <!--QUESTION SECTION-->
            <div class="hero mb-5 bg-base-200 shadow-xl rounded-box">
                <div class="hero-content max-w-md flex-col text-left">
                    <h1 class="text-2xl font-bold">#{{currentQuestionsCount}}: {{questionTitle}}</h1>
                    {{#if isMultipleChoice}}
                        {{#each multipleChoiceOptions}}
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <input type="radio" name="question" class="radio checked:bg-red-500 mr-5" checked />
                                    <span class="label-text text-xl">{{option}}</span> 
                                </label>
                            </div>
                        {{/each}}

                        
                    {{/if}}

                    {{#if isMultipleImageChoice}}
                        {{#each multipleImageChoiceURLOptions}}
                        
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <input type="radio" name="question" class="radio checked:bg-red-500 mr-5" checked />
                                    <div class="avatar">
                                        <div class="w-24 rounded">
                                        <img src="{{option}}" />
                                        </div>
                                    </div>
                                </label>
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if isShortResponse}}
                        <input id="userGivenShortResponse" type="text" placeholder="Type here" class="input input-bordered input-md w-full max-w-xs" />

                    {{/if}}

                </div>
            </div>

            <!--BOTTOM NAVIGATION-->
                <div class="navbar bg-base-200 mb-5 shadow-xl rounded-box">
                    <div class="navbar-start">
                        <button class="btn">{{name}}</button>
                    </div>

                    <div class="navbar-center">
                        <button class="btn">{{currentQuestionsCount}}/{{totalQuestionsCount}}</button>
                    </div>

                    <div class="navbar-end">
                        <button onclick="submitQuestion()" class="btn btn-primary">SUBMIT</button>
                    </div>
                </div>
          
          </script>

          <script id="resultTemplate" type="text/x-handlebars">
            {{#if isAnswerCorrect}}
                <div class="alert alert-success">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{praise}}</span>
                    <button onclick="nextQuestion()" class="btn">NEXT QUESTION</button>
                </div>
            {{else}}
                <div class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{praise}}</span>
                    <button onclick="nextQuestion()" class="btn">NEXT QUESTION</button>
                </div>
            {{/if}}

          </script>
          <script id="finalResultTemplate" type="text/x-handlebars">
            <div class="hero mb-5 bg-base-200 shadow-xl rounded-box">
                <div class="hero-content text-center">
                    <div class="max-w-xl">
                        <h1 class="text-4xl font-bold">{{correctQuestionsCount}} out of {{totalQuestionsCount}}</h1>
                        <p class="py-6">That's your score! Refresh the page to take the quiz again.</p>

                        <ul class="steps steps-vertical">
                            {{#each data}}
                                <li 
                                    class="step {{#if isResponseCorrect}}step-success{{else}}step-error	{{/if}}"
                                    data-content="{{#if isResponseCorrect}}✓{{else}}✕{{/if}}"
                                    >
                                    {{questionTitle}}
                                </li>
                            {{/each}}
                          </ul>
                    </div>

                    

                </div>

            </div>
          
          </script>

          
          <div id="outputRender"></div>
          <div id="questionResultRender"></div>
          <div id="finalResultRender"></div>



        <!-- <div class="hero mb-5 bg-base-200  shadow-xl rounded-box">
            <div class="hero-content flex-col lg:flex-row">
                <div>
                    <h3 class="text-2xl font-bold">When country surrounds Bangladesh?</h3>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Answer</span>
                        </label>
                        <input type="text" placeholder="Type your answer" class="input input-bordered" required />
                    </div>

                    <button class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </div> -->

    </div>



</body>
</html>